.container {
  width: 170px;
}

.title {
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  color: #444;
  font-weight: bold;
}

.featureItem {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.featureItem .onoffswitch {
  margin-right: 10px;
}